
.button {
    width: 33.33%;
    border: 1px solid black;
    padding-top: 30px;
    outline: none   ;


}

.button:focus {
    outline: none;
    box-shadow: none;
}


.winner {
    position: fixed;

}