
.h1 {
    grid-column: 1/6;
    margin-top: 10vh;
    text-align: center;
    background-color: mediumaquamarine;
}

.board {
    padding-left: 12vh;
    margin: 10vh;
    grid-column: 1/3;
    background-color: lightblue;
}

.history {
    margin: 10vh;
    background-color: red;
    justify-content: center;
}

.App {
    background-color: lightgrey;
    margin-left: 10vh;
    margin-right: 10vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}





