
.winner {
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid black;
    margin-top: 20px;
    width: 500px;
    position: absolute;
    top: 50vh;
    left: 50vh;
}

.button {
    margin-left: 10px;
}

